.git
__pycache__
*.pyc
.env
Dockerfile
tmp/
data/
!main/tbot-server/models/snakers4_silero-vad/src/silero_vad/data/
!main/tbot-server/models/snakers4_silero-vad/src/silero_vad/data/**
**/.venv*
**/.pytest_cache
**/node_modules
**/dist
**/target
!main/manager-web/dist/
!main/manager-web/dist/**
!main/manager-api/target/
!main/manager-api/target/tbot-esp32-api.jar
**/.webpack_cache
**/logs
**/log
*.log
