global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5s
    timeout client  2m
    timeout server  2m
    timeout tunnel  1h

resolvers docker
    nameserver dns 127.0.0.11:53
    accepted_payload_size 8192
    hold valid 10s

frontend tbot_ws
    bind *:8000
    default_backend tbot_ws_backend

backend tbot_ws_backend
    balance hdr(device-id)
    hash-type consistent
    server-template tbot 10 tbot-esp32-server:8000 resolvers docker resolve-prefer ipv4 init-addr libc,none

frontend tbot_http
    bind *:8003
    default_backend tbot_http_backend

backend tbot_http_backend
    balance roundrobin
    option httpchk GET /tbot/ota/
    server-template tbot 10 tbot-esp32-server:8003 check resolvers docker resolve-prefer ipv4 init-addr libc,none
